@import './variables.scss';

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 315%;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */
  }

body {
  background-color: #fff;
  color: #000;
  // font-family: Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif;
  font-family: -apple-system-font, lucida, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 1s;
  font-weight: 200;
  font-size: .24rem;
  line-height: .48rem;

  &.body-white {
    background-color: #fff;
  }
  &.body-home {
    background-color: #000;
  }
  h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
    margin: 0;
  }

  ul, li {
    list-style: none;
    margin: 0;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1rem;
  width: 100vw;
  height: .8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  z-index: 99;

  .container .row .col-xl-1 {
    max-height: .8rem;
  }
  .icon-codewuxi {
    display: inline-block;
    width: 0.38rem;
    height: 0.38rem;
    background-image: url('../assets/images/codewuxi.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

footer {
  padding: .5rem 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  text-align: center;

  .footer-black {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
  }

  .contact-wrapper, .container {
    z-index: 1;
  }

  .contact-wrapper {
    .section-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .footer-logo-wrapper {
    .footer-logo {
      font-family: Comfortaa, lucida, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
      font-size: .42rem;
      text-align: center;
    }
  }

  .footer-copyright-wrapper {
    text-align: center;
    font-size: 0.28rem;
    font-weight: 300;
    color: rgba(255,255,255,.72);
    a {
      color: rgba(255,255,255,.72);
      text-decoration: none;
    }
    a:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.cw-title {
  position: relative;
  margin-top: .2rem;
  margin-bottom: .1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: .48rem;
  line-height: .67rem;
  letter-spacing: .09rem;

  &.cw-line-title {
    margin-top: 4rem;
  }
  .line {
    z-index: 1;
    width: 2px;
    height: 2rem;
    background-color: #000;
    &.line-top {
      position: absolute;
      top: -2.5rem;
      left: 50%;
      margin-bottom: .2rem;
    }
    &.line-bottom {
      margin-top: .2rem;
    }
  }
}

.cw-sm-title {
  margin-top: 0.32rem;
  position: relative;
  color: #000;
  text-align: center;
  font-size: .32rem;
  line-height: .64rem;
}

.cw-text-justify {
  text-align: justify;
  text-align-last: justify;
  &::after {
    content: '';
    width: 100%;
    display: inline-block;
  }
}

.cw-text-center {
  text-align: center !important;
}

.button-group {
  margin-top: .1rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.cw-button {
  padding: 10px;
  width: fit-content;
  font-size: .24rem;
  letter-spacing: .03rem;
  font-weight: 200;
  border: 1px solid #000;
  background-color: #fff;
  outline: none;
  transition: all .5s;

  &.button-black {
    width: 2rem;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    &:hover {
      color: #000;
      background-color: #fff;
    }
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

.cw-dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.3);
  z-index: 99;

  .dialog-content {
    padding: .2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background-color: #fff;
    z-index: 999;
    .icon-close {
      position: absolute;
      bottom: 0.2rem;
      left: 50%;
      transform: translateX(-50%);
      font-size: .5rem;
      cursor: pointer;

      &:hover {
        color: #ff4d4f;
      }
    }
    h3 {
      font-size: .24rem;
      text-align: center;
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  header {
    padding: 0 .5rem;
  }

  .cw-title {
    margin-top: .3rem;
    margin-bottom: 0rem;
    font-size: .56rem;
    line-height: .75rem;
    &.cw-line-title {
      margin-top: .3rem;
      .line {
        display: none;
      }
    }
  }

  .cw-sm-title {
    font-size: .42rem;
    font-weight: 600;
    line-height: .72rem;
  }

  .cw-dialog {
    .dialog-content {
      width: 100%;
      height: 80vh;
      top: auto;
      left: 0;
      bottom: 0;
      transform: none;
      .icon-close {
        bottom: 1rem;
        font-size: 38px;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

  footer {
    padding: 1rem 0;
    .footer-copyright-wrapper {
      font-size: 0.28rem;
      font-weight: 300;
    }
  }

  .cw-title {
    margin-bottom: .4rem;
    font-size: .72rem;
    line-height: .75rem;
    letter-spacing: .09rem;
  }

  .cw-sm-title {
    font-size: .42rem;
    font-weight: 600;
    line-height: .72rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    height: .8rem;

    .container .row .col-xl-1 {
      max-height: .8rem;
    }
  }


  footer {
    padding: 1rem 0;

    .footer-copyright-wrapper {
      font-size: 0.28rem;
    }
  }

  .cw-title {
    margin-top: .5rem;
    font-size: .72rem;
    line-height: .75rem;
    letter-spacing: .09rem;
    &:after {
      content: '';
      position: absolute;
      top: -.08rem;
      left: -.2rem;
      width: .17rem;
      height: .17rem;
      background-image: url('../assets/images/title.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .cw-sm-title {
    font-size: .42rem;
    font-weight: 600;
    line-height: .72rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 625%;
  }

  footer {
    .footer-copyright-wrapper {
      text-align: center;
      font-size: 0.21rem;
      font-weight: 300;
    }
  }

  .cw-title {
    margin-bottom: .2rem;
    font-size: .54rem;
    line-height: .67rem;
    letter-spacing: .09rem;
    &:after {
      content: '';
      position: absolute;
      top: -.08rem;
      left: -.2rem;
      width: .17rem;
      height: .17rem;
      background-image: url('../assets/images/title.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  html {
    font-size: 625%;
  }
}
