* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 315%;
}

body {
  background-color: #000;
  color: #fff;
  // font-family: Helvetica, Tahoma, Arial, STXihei, “华文细黑”, “Microsoft YaHei”, “微软雅黑”, Heiti, “黑体”, sans-serif;
  font-family: -apple-system-font, lucida, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
  }

  ul, li {
    list-style: none;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    height: .8rem;

    .container .row .col-xl-1 {
      max-height: .8rem;
    }
    .icon-codewuxi {
      display: inline-block;
      width: 0.38rem;
      height: 0.38rem;
      background-image: url('../assets/images/codewuxi.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  footer {
    padding: 1rem 0;

    .footer-logo-wrapper {
      .footer-logo {
        text-align: center;
      }
    }

    .footer-copyright-wrapper {
      text-align: center;
      font-size: 0.28rem;
      font-weight: 300;
      color: rgba(255,255,255,.72);
      a {
        color: rgba(255,255,255,.72);
        text-decoration: none;
      }
      a:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .cw-sm-title {
    margin-top: 0.32rem;
    position: relative;
    color: #fff;
    font-size: .32rem;
    line-height: .64rem;
  }

  .cw-text-justify {
    text-align: justify;
    text-align-last: justify;
  }

  .cw-text-center {
    text-align: center !important;
  }

  .cw-text-large {
    font-size: .36rem !important;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .cw-title {
    margin-top: .3rem;
    margin-bottom: 0rem;
    position: relative;
    display: inline-block;
    align-self: center;
    color: #fff;
    font-size: .56rem;
    line-height: .75rem;
    letter-spacing: .09rem;
    &:after {
      content: '';
      position: absolute;
      top: -.24rem;
      left: -.6rem;
      width: .51rem;
      height: .51rem;
      background-image: url('../assets/images/title.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .cw-sm-title {
    margin-top: 0.32rem;
    position: relative;
    color: #fff;
    font-size: .42rem;
    font-weight: 600;
    line-height: .72rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

  .cw-title {
    margin-top: .5rem;
    margin-bottom: .4rem;
    position: relative;
    display: inline-block;
    align-self: center;
    font-size: .72rem;
    line-height: .75rem;
    letter-spacing: .09rem;
    &:after {
      content: '';
      position: absolute;
      top: -.08rem;
      left: -.2rem;
      width: .17rem;
      height: .17rem;
      background-image: url('../assets/images/title.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .cw-sm-title {
    margin-top: 0.32rem;
    position: relative;
    color: #fff;
    font-size: .42rem;
    font-weight: 600;
    line-height: .72rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    height: .8rem;

    .container .row .col-xl-1 {
      max-height: .8rem;
    }
    .icon-codewuxi {
      display: inline-block;
      width: 0.38rem;
      height: 0.38rem;
      background-image: url('../assets/images/codewuxi.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .cw-title {
    margin-top: .5rem;
    margin-bottom: .4rem;
    position: relative;
    display: inline-block;
    align-self: center;
    font-size: .72rem;
    line-height: .75rem;
    letter-spacing: .09rem;
    &:after {
      content: '';
      position: absolute;
      top: -.08rem;
      left: -.2rem;
      width: .17rem;
      height: .17rem;
      background-image: url('../assets/images/title.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .cw-sm-title {
    margin-top: 0.32rem;
    position: relative;
    color: #fff;
    font-size: .42rem;
    font-weight: 600;
    line-height: .72rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 625%;
  }

  .cw-title {
    margin-top: .5rem;
    margin-bottom: .2rem;
    position: relative;
    display: inline-block;
    align-self: center;
    font-size: .54rem;
    line-height: .67rem;
    letter-spacing: .09rem;
    &:after {
      content: '';
      position: absolute;
      top: -.08rem;
      left: -.2rem;
      width: .17rem;
      height: .17rem;
      background-image: url('../assets/images/title.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  html {
    font-size: 625%;
  }

  header {
  }

  .cw-title {
    margin-top: .5rem;
    margin-bottom: .5rem;
    position: relative;
    display: inline-block;
    align-self: center;
    font-size: .48rem;
    line-height: .67rem;
    letter-spacing: .09rem;
    &:after {
      content: '';
      position: absolute;
      top: -.08rem;
      left: -.2rem;
      width: .17rem;
      height: .17rem;
      background-image: url('../assets/images/title.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

}
