@import './base.scss';

body {
  background-color: #e8e8e8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23ececec' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23efefef' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23f3f3f3' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23f6f6f6' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23fafafa' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23fbfbfb' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23fcfcfc' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23fdfdfd' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fefefe' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffffff' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

#baidu-map {
  width: 100%;
  height: 100%;
}

header {
  opacity: 1;
  .header-right {
    .icon-menu {
      display: none;
    }
  }

  // sign up button
  .sign-up-btn {
    padding: 0 15px 0 15px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    font-weight: 200;

    &:hover {
      background-color: #fff;
      color: #000;
      border-color: #000;
    }
  }
  .sign-up-btn-black {
    padding: 0 15px 0 15px;
    border: 1px solid #000000;
    color: #000000;
  }

}

// a tag anchor
li {
  a {
    text-decoration: none;
    color: #fff;
  }
}

.hack-2019-wrapper {
  margin-top: .8rem;
  .banner-black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120vh;
    background-color: #000;
    z-index: 1;
  }

  .section-wrapper {
    margin: .3rem 0;
    position: relative;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .section-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .text-content {
        color: rgba(0,0,0,1);
        font-weight: 200;
        font-size: .24rem;
        line-height: .48rem;
        letter-spacing: .03rem;
        text-align: justify;

        p {
          margin: .27rem 0;
          font-weight: 200;
        }
      }

      .photo-wall {
        margin: .18rem 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        .photo-item {
          padding: 0 .2rem;
          width: 25%;
          .photo-cover {
            img {
              width: 100%;
            }
          }

          .photo-user {
            margin: .2rem 0;
            text-align: center;

            h5 {
              font-size: .24rem;
            }
            p {
              margin: .1rem 0;
              line-height: .24rem;
              letter-spacing: .01rem;
              text-align: justify;
              font-size: .16rem;
              font-weight: 200;
              color: #444;

              &.photo-user-title {
                text-align: center;
                font-weight: 400;
              }
            }
          }
        }
        // .photo-item {
        //   margin: 0 .2rem .3rem .2rem;
        //   position: relative;
        //   width: 20%;
        //   display: flex;
        //   flex-direction: column;
        //   text-align: center;
        //   .photo-cover {
        //     margin-bottom: .2rem;
        //     padding-top: 100%;
        //     &:after {
        //       content: "";
        //       display: block;
        //       position: absolute;
        //       z-index: -1;
        //       width: 100%;
        //       padding-bottom: 100%;
        //       border-radius: 50%;
        //       background-color: #d4c5f9;
        //       background-image: url('../assets/images/IMG_6528.JPG');
        //       background-repeat: no-repeat;
        //       background-size: contain;
        //       transform: translateY(-100%);
        //     }
        //   }

        //   .photo-user {
        //     h5 {
        //       font-size: .27rem;
        //       line-height: .3rem;
        //     }
        //     p {
        //       font-weight: 200;
        //     }
        //   }
        // }

        .logo-item {
          margin: .2rem;
          height: .6rem;
          img {
            height: 100%;
          }
        }
      }
    }
  }

  .hack-col-title {
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    font-family: Comfortaa, lucida, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-size: .27rem;
    font-weight: bold;
    writing-mode: vertical-rl;
    letter-spacing: 0.03rem;
    transform: rotate(180deg);
    text-transform: uppercase;
    z-index: 10;
    color: #444;
    &.turn-white {
      a {
        color: #fff;
      }
    }

    a {
      color: #444;
      text-decoration: none;
    }
  }

  .transition-wrapper {
    height: 2.5rem;
  }

  .banner-wrapper {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    transition: all 1s;

    &.turn-white {
      background-color: #fff;
    }
    .container {
      position: relative;
      transition: all 1s;
      z-index: 2;
      .banner-icon {
        position: absolute;
        top: -.3rem;
        left: .5rem;
        width: 5.231rem;
        height: 4.816rem;
        background-image: url('../assets/images/code.png');
        background-repeat: no-repeat;
        background-size: contain;
      }

      .banner {
        font-family: -apple-system-font, Montserrat, "Helvetica Neue", 'PingFang SC', "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
        z-index: 10;

        .banner_title {
          margin-top: .3rem;
          font-size: .9rem;
          font-weight: 600;
          line-height: 0.72rem;
          text-align: justify;
        }

        .banner_subtitle {
          font-size: .52rem;
          line-height: .42rem;
          letter-spacing: .02rem;
        }

        .banner_slogan {
          margin-top: .3rem;
          font-size: .75rem;
          font-weight: 600;
          line-height: .72rem;
          text-align: justify;
        }

        .banner_info {
          margin-top: .3rem;
          font-size: .24rem;
          line-height: .24rem;
          text-align: justify;
        }
      }
    }
  }

  .introduction-wrapper {
    .section-content {
      .text-content {
        color: #000;
      }
    }
    .icon-side {
      position: absolute;
      top: .5rem;
      right: 0;
      width: 7.162rem;
      height: 8.41rem;
      background-image: url('../assets/images/code_side.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .detail-wrapper {
    .detail-time {
      font-size: .36rem;
    }

    .detail-location {
      font-size: .48rem;
    }

    .detail-address {
      border-top: 1px solid #000;
      font-size: .21rem;
    }

    .button-group {
      width: 40%;
    }
  }

  .awards-wrapper {
    .award-list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .award-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        background-color: #fff;
        font-size: .2rem;
        font-weight: 200;
        box-shadow: 2px 2px 10px 0 rgba(0,0,0,.2);
        text-align: center;
        &.first-rank {
          .award-rank {
            background-color: #FFCA0F;
          }
        }
        &.second-rank {
          .award-rank {
            background-color: #1E75F6;
          }
        }
        &.third-rank {
          .award-rank {
            background-color: #FF3E61;
          }
        }
        .award-rank {
          padding: .35rem 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          color: #fff;

          h4 {
            font-size: .34rem;
          }
        }
        p {
          padding: .27rem 0;
          font-weight: 200;
          line-height: .36rem;
        }
      }
    }

    .other-award-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .other-award-item {
        margin-top: .23rem;
        width: 47%;
        display: flex;
        background-color: #fff;
        justify-content: space-between;
        align-items: center;
        box-shadow: 2px 2px 10px 0 rgba(0,0,0,.2);
        .other-award-rank {
          height: 100%;
          background-color: #A8A8A8;
          h4 {
            padding: .2rem .3rem;
            color: #fff;
            font-size: .26rem;
            white-space: nowrap;
          }
        }
        p {
          flex: 1;
          font-size: 0.2rem;
          font-weight: 200;
          text-align: center;
        }
      }
    }

    .award-comments p {
      padding: .27rem 0;
      color: #666;
      font-size: .14rem;
      font-weight: 200;
      line-height: .21rem;
    }
  }

  .subjects-wrapper {
    justify-items: center;

    .picture-wall {
      .content {
        margin-bottom: 20px;
      }

      .picture-item {
        margin-bottom: .4rem;
        min-height: 2.78rem;
        background-color: #d8d8d8;
        border-radius: 8px;
      }
    }
  }

  .schedule-wrapper {
    height: 100vh;
    min-height: 4rem;
    &:after {
      position: absolute;
      z-index: -1;
      content: "";
      width: 100%;
      height: 100%;
      background-image: linear-gradient(120deg, #000, #000);
      animation: schedule-color-load 1s ease-in;
      // temp fixed color
      h4, p {
        color: #fff !important;
      }
    }

    .section-content {
      color: #fff;

      .schedule-block-wrapper {
        margin-top: .5rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .text-content {
          color: #fff;
        }
      }
    }
  }



  @keyframes schedule-color-load {
    0% {
      width: 0%;
    }
    100% {
      width: 100%;
    }
  }

  .register-wrapper {

  }

  .sponsors-wrapper, .partners-wrapper, .media-wrapper {
    min-height: 70vh;
  }

  .guide-wrapper {
    .section-content {
      .text-content {
        text-align: center;

        .cw-sm-title {
          color: #000;
        }
      }
    }
  }
}

.scroll-bar {
  position: fixed;
  right: 1.36rem;
  width: 0.02rem;
  height: 4rem;
  background-color: #444;
  border-radius: 0.045px;
  z-index: 10;
  // fixed centre
  top: 50%;
  transform: translate(0, -50%);
  &.turn-white {
    background-color: #fff;
    a {
      color: #fff;
    }
    .scroll-slider {
      background-color: #fff;
    }
  }

  .scroll-slider {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 0.06rem;
    background-color: #444;
  }
}

footer {
  padding: .5rem;

  .footer-copyright-wrapper {
    font-size: 0.18rem;
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  header {
    .header-right {
      .icon-menu {
        display: flex;
      }
    }
  }

  .hack-2019-wrapper {
    .section-wrapper {
      .section-content {
        .text-content {
          margin: .4rem 0;
          font-size: .28rem;
          letter-spacing: .032rem;

          p {
            margin: .4rem 0;
          }
        }

        .photo-wall {
          margin: .18rem 0;
          width: 100%;
          .photo-item {
            margin: 0 .2rem .3rem .2rem;
            width: 33%;
            .photo-cover {
            }

            .photo-user {
              h5 {
                font-size: .3rem;
              }
              p {
                font-size: .22rem;
              }
            }
          }

          .logo-item {
            margin: .2rem;
            height: .6rem;
            img {
              height: 100%;
            }
          }
        }
      }
    }
    .hack-col-title {
      display: none;
    }

    .hack-col-title {
      display: none;
    }

    .transition-wrapper {
      height: 2.5rem;
    }

    .banner-wrapper {
      .container {
        .banner {
          .banner_title {
            font-size: .72rem;
            line-height: 0.60rem;
          }

          .banner_subtitle {
            font-size: .5rem;
            line-height: .45rem;
            letter-spacing: .01rem;
          }

          .banner_slogan {
            font-size: .6rem;
            line-height: .6rem;
          }

          .banner_info {
            margin-top: .3rem;
            font-size: .32rem;
            line-height: .32rem;
          }
        }
      }
    }

    .detail-wrapper {
      .detail-time {
        font-size: .40rem;
      }

      .detail-location {
        font-size: .52rem;
      }

      .detail-address {
        border-top: 1px solid #000;
        font-size: .25rem;
      }
      .button-group {
        width: 60%;
      }
    }

    .awards-wrapper {
      .award-list {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        .award-item {
          margin-bottom: .4rem;
          width: 80%;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      .other-award-list {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        .other-award-item {
          margin-top: .4rem;
          width: 68%;
          .other-award-rank {
            h4 {
              padding: .2rem .3rem;
              font-size: .26rem;
            }
          }
          p {
            font-size: 0.2rem;
            font-weight: 200;
            white-space: nowrap;
          }
        }
      }
      .award-comments {
        p {
          line-height: .28rem;
        }
      }
    }

    .schedule-wrapper {
      .section-content {
        .schedule-block-wrapper {
          width: 80%;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          .text-content {
            color: #fff;
          }
        }
      }
    }

    .register-wrapper {

      .register-main {
        margin: .18rem 0;

        h5.text-title {
          margin: .32rem 0;
          font-size: .32rem;
          font-weight: 400;
        }

        p.register-guide-title {
          margin: .40rem 0 !important;
          color: #fff;
          font-size: .40rem;
          line-height: .32rem;
        }

        p {
          margin: .14rem 0 !important;
          font-size: .28rem;
          line-height: .48rem;
          letter-spacing: .032rem;
        }
      }
    }

    .guide-wrapper {
    }
  }

  .scroll-bar {
    display: none; // no display on portrait screen
  }

  footer {
    padding: 1rem 0;

    .footer-logo-wrapper {
    }

    .footer-copyright-wrapper {
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .hack-2019-wrapper {
    .section-wrapper {
      .section-content {
        .text-content {
          font-weight: 200;
          font-size: .28rem;
          line-height: .48rem;
          letter-spacing: .032rem;
        }
      }
    }

    .hack-col-title {
      display: none;
    }

    .banner-wrapper {
      .container {
        .banner {
          .banner_title {
            font-size: 1rem;
            line-height: .86rem;
          }

          .banner_subtitle {
            font-size: .68rem;
            line-height: .6rem;
          }

          .banner_slogan {
            margin-top: .36rem;
            font-size: .72rem;
          }

          .banner_info {
            margin-top: .36rem;
            font-size: .32rem;
            line-height: .32rem;
          }
        }
      }
    }

    .introduction-wrapper {
    }

    .subjects-wrapper {
    }

    .schedule-wrapper {
    }

    .register-wrapper {
    }

    .guide-wrapper {
    }
  }

  .scroll-bar {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .hack-2019-wrapper {
    .section-wrapper {
      .section-content {
        .text-content {
          font-size: .28rem;
          letter-spacing: .032rem;
        }
      }
    }

    .hack-col-title {
      display: none;
    }

    .banner-wrapper {
      .container {
        .banner {
          .banner_title {
            font-size: 1.1rem;
            line-height: .9rem;
          }

          .banner_subtitle {
            font-size: .64rem;
            line-height: .56rem;
          }

          .banner_slogan {
            margin-top: .36rem;
            font-size: .72rem;
            line-height: .72rem;
          }

          .banner_info {
            margin-top: .36rem;
            font-size: .32rem;
            line-height: .32rem;
          }
        }
      }
    }

    .introduction-wrapper {
    }

    .schedule-wrapper {
    }

    .register-wrapper {
    }

    .guide-wrapper {
    }
  }

  .scroll-bar {
    display: none; // no display on portrait screen
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .img-gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;

    &:hover {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%);
      filter: none;
    }
  }

  .hack-2019-wrapper {
    .section-wrapper {
      .section-content {
        .text-content {
          font-size: .21rem;
          line-height: .42rem;
          letter-spacing: .04rem;
        }
      }
    }

    .banner-wrapper {
      .container {
        .banner {
          .banner_title {
            font-size: .81rem;
            font-weight: 400;
            line-height: 0.64rem;
          }

          .banner_subtitle {
            font-size: .5rem;
            line-height: .45rem;
          }

          .banner_slogan {
            font-size: .72rem;
          }

          .banner_info {
            font-size: .21rem;
            line-height: .22rem;
          }
        }
      }
    }

    .introduction-wrapper {
    }

    .subjects-wrapper {
    }

    .schedule-wrapper {
    }

    .register-wrapper {
    }

    .guide-wrapper {
    }
  }

  .scroll-bar {
    right: .6rem;
    top: 2rem;
    width: 0.03rem;
    background-color: #fff;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .img-gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;

    &:hover {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%);
      filter: none;
    }
  }
}


.path {
  //   stroke-dasharray: 50;
  //   stroke-dashoffset: 1000;
  //   animation: dash 10s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

// TODO: temp css for side bar menu
.side-nav-content {
  display: none;
  font-size: .20rem;
  width: fit-content;
  padding-left: 0.15rem;
  position:fixed;
  // fixed centre
  top: 50%;
  transform: translate(0, -50%);
  li {
    min-width: 250px;
    margin-bottom: 15px;
    transition: transform .3s ease-out;
    &:hover{
      color: #fff;
      transform: translate(10px, 0)
    }
    a {
      display: inline-block;
      color: #000;
    }
  }
}
