@import './base.scss';

.hack-2019-wrapper {

  .banner-black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 1;
  }

  .section-wrapper {
    margin: .3rem 0;
    position: relative;
    min-height: 90vh;
    .section-content {
      min-height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .text-content {
        color: rgba(0,0,0,1);
        font-weight: 200;
        font-size: .24rem;
        line-height: .48rem;
        letter-spacing: .03rem;
        text-align: justify;

        p {
          margin: .27rem 0;
          font-weight: 200;
        }
      }

      .photo-wall {
        margin: .18rem 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .photo-item {
          margin: 0 .2rem .3rem .2rem;
          position: relative;
          width: 20%;
          display: flex;
          flex-direction: column;
          text-align: center;
          .photo-cover {
            margin-bottom: .2rem;
            padding-top: 100%;
            &:after {
              content: "";
              display: block;
              position: absolute;
              z-index: -1;
              width: 100%;
              padding-bottom: 100%;
              border-radius: 50%;
              background-color: #d4c5f9;
              background-image: url('../assets/images/IMG_6528.JPG');
              background-repeat: no-repeat;
              background-size: contain;
              transform: translateY(-100%);
            }
          }

          .photo-user {
            h5 {
              font-size: .27rem;
              line-height: .3rem;
            }
            p {
              font-weight: 200;
            }
          }
        }

        .logo-item {
          margin: .2rem;
          height: 1rem;
          img {
            height: 100%;
          }
        }
      }
    }
  }

  .hack-col-title {
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    font-family: Comfortaa, lucida, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    font-size: .27rem;
    font-weight: bold;
    writing-mode: vertical-rl;
    letter-spacing: 0.03rem;
    transform: rotate(180deg);
    text-transform: uppercase;
    z-index: 10;
    color: #444;
    &.turn-white {
      color: #fff;
    }
  }

  .transition-wrapper {
    height: 2.5rem;
  }

  .banner-wrapper {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
    transition: all 1s;
    background-color: #fff;

    &.turn-white {
      background-color: #fff;
    }
    .container {
      position: relative;
      transition: all 1s;
      z-index: 2;
      .banner-icon {
        position: absolute;
        top: -.3rem;
        left: .5rem;
        width: 5.231rem;
        height: 4.816rem;
        background-image: url('../assets/images/code.png');
        background-repeat: no-repeat;
        background-size: contain;
      }

      .banner {
        font-family: -apple-system-font, Montserrat, "Helvetica Neue", 'PingFang SC', "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
        z-index: 10;

        .banner_title {
          margin-top: .3rem;
          font-size: .9rem;
          font-weight: 600;
          line-height: 0.72rem;
          text-align: justify;
        }

        .banner_subtitle {
          font-size: .52rem;
          line-height: .42rem;
          letter-spacing: .02rem;
        }

        .banner_slogan {
          margin-top: .3rem;
          font-size: .75rem;
          font-weight: 600;
          line-height: .72rem;
          text-align: justify;
        }

        .banner_info {
          margin-top: .3rem;
          font-size: .24rem;
          line-height: .24rem;
          text-align: justify;
        }
      }
    }
  }

  .introduction-wrapper {
    .section-content {
      .text-content {
        color: #000;
      }
    }
    .icon-side {
      position: absolute;
      top: .5rem;
      right: 0;
      width: 7.162rem;
      height: 8.41rem;
      background-image: url('../assets/images/code_side.png');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .detail-wrapper {
    .detail-time {
      font-size: .36rem;
    }

    .detail-location {
      font-size: .48rem;
    }

    .detail-address {
      border-top: 1px solid #000;
      font-size: .21rem;
    }
  }

  .awards-wrapper {
    .award-list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .award-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        font-size: .2rem;
        font-weight: 200;
        box-shadow: 2px 2px 10px 0 rgba(0,0,0,.2);
        &.first-rank {
          .award-rank {
            background-color: #FFCA0F;
          }
        }
        &.second-rank {
          .award-rank {
            background-color: #1E75F6;
          }
        }
        &.third-rank {
          .award-rank {
            background-color: #FF3E61;
          }
        }
        .award-rank {
          padding: .35rem 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          color: #fff;

          h4 {
            font-size: .34rem;
          }
          span {
          }
        }
        p {
          padding: .27rem 0;
          font-weight: 200;
        }
      }
    }
  }

  .subjects-wrapper {
    justify-items: center;

    .picture-wall {
      .content {
        margin-bottom: 20px;
      }

      .picture-item {
        margin-bottom: .4rem;
        min-height: 2.78rem;
        background-color: #d8d8d8;
        border-radius: 8px;
      }
    }
  }

  .schedule-wrapper {
    min-height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title-wrapper {
      .title {
        margin-bottom: .23rem;
        font-size: .36rem;
      }

      p {
        font-size: .15rem;
      }
    }

    .schedule-block {
      border: 1px solid #000;
    }

    .schedule-list {
      width: 40%;
      display: flex;
      flex-direction: column;

      .schedule-item {
        padding: 0.55rem;
        background-color: #fff;
        border-radius: 4px;

        &:first-child {
          margin-bottom: .4rem;
        }

        h5 {
          color: #0D253E;
          font-size: .3rem;
        }

        p {
          color: #aaa;
          font-size: .2rem;
        }
      }
    }
  }

  .register-wrapper {

  }

  .guide-wrapper {
    .section-content {
      .text-content {
        text-align: center;
      }
    }
  }
}

.scroll-bar {
  position: fixed;
  right: 1.36rem;
  top: 2rem;
  width: 0.02rem;
  height: 4rem;
  background-color: #444;
  border-radius: 0.045px;
  z-index: 10;
  &.turn-white {
    background-color: #fff;
    .scroll-slider {
      background-color: #fff;
    }
  }

  .scroll-slider {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 0.06rem;
    background-color: #444;
  }
}

footer {
  padding: 1rem 0 2rem 0;
  background-color: #000;
  color: #fff;
  text-align: center;

  .footer-logo-wrapper {
    .footer-logo {
      font-family: Comfortaa, lucida, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
      font-size: .48rem;
      text-align: center;
    }
  }

  .footer-copyright-wrapper {
    text-align: center;
    font-size: 0.18rem;
    font-weight: 300;
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .hack-2019-wrapper {
    .section-wrapper {

      .section-content {
        .text-content {
          font-size: .28rem;
          letter-spacing: .032rem;
        }

        .photo-wall {
          margin-top: .2rem;

          .photo-item {
            margin-bottom: .3rem;
            height: 1rem;
            background-color: #d8d8d8;
            border-radius: 8px;
          }
        }
      }
    }

    .banner-wrapper {
      .container {

        .banner {
          .banner_title {
            font-size: .72rem;
            line-height: 0.60rem;
          }

          .banner_subtitle {
            font-size: .5rem;
            line-height: .45rem;
            letter-spacing: .01rem;
          }

          .banner_slogan {
            font-size: .6rem;
            line-height: .6rem;
          }

          .banner_info {
            margin-top: .3rem;
            font-size: .32rem;
            line-height: .32rem;
          }
        }
      }
    }

    .schedule-wrapper {

    }

    .register-wrapper {

      .register-main {
        margin: .18rem 0;

        h5.text-title {
          margin: .32rem 0;
          font-size: .32rem;
          font-weight: 400;
        }

        p.register-guide-title {
          margin: .40rem 0 !important;
          color: #fff;
          font-size: .40rem;
          line-height: .32rem;
        }

        p {
          margin: .14rem 0 !important;
          font-size: .28rem;
          line-height: .48rem;
          letter-spacing: .032rem;
        }
      }
    }

    .guide-wrapper {
    }
  }

  .scroll-bar {
    display: none; // no display on portrait screen
  }

  footer {
    padding: 1rem 0;

    .footer-logo-wrapper {
    }

    .footer-copyright-wrapper {
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .hack-2019-wrapper {

    .section-wrapper {
      position: relative;
      margin: 1rem 0;

      .section-content {
        display: flex;
        flex-direction: column;

        .text-content {
          color: rgba(255,255,255,1);
          font-weight: 200;
          font-size: .28rem;
          line-height: .48rem;
          letter-spacing: .032rem;
          text-align: justify;

          p {
            margin: .27rem 0;
            font-weight: 200;
          }
        }

        .photo-wall {
          margin-top: .2rem;

          .photo-item {
            margin-bottom: .3rem;
            height: 1rem;
            background-color: #d8d8d8;
            border-radius: 8px;
          }
        }
      }
    }

    .banner-wrapper {
      .container {
        position: relative;

        .banner-site-name {
          position: relative;
          font-size: .2rem;
          writing-mode: vertical-rl;
          letter-spacing: 0.05rem;
          transform: rotate(180deg);
          text-transform: uppercase;
          z-index: 10;
        }

        .banner-icon {
          position: absolute;
          top: -.3rem;
          left: .5rem;
          width: 5.231rem;
          height: 4.816rem;
          background-image: url('../assets/images/code.png');
          background-repeat: no-repeat;
          background-size: contain;
        }

        .banner {
          font-family: -apple-system-font, Montserrat, "Helvetica Neue", 'PingFang SC', "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
          z-index: 10;

          .banner_title {
            margin-top: .3rem;
            font-size: 1rem;
            font-weight: 600;
            line-height: .86rem;
            text-align: justify;
          }

          .banner_subtitle {
            font-size: .68rem;
            line-height: .6rem;
            letter-spacing: .02rem;
          }

          .banner_slogan {
            margin-top: .36rem;
            font-size: .72rem;
            font-weight: 600;
            line-height: .72rem;
            text-align: justify;
          }

          .banner_info {
            margin-top: .36rem;
            font-size: .32rem;
            line-height: .32rem;
            text-align: justify;
          }
        }
      }
    }

    .introduction-wrapper {
      .icon-side {
        position: absolute;
        top: .5rem;
        right: 0;
        width: 7.162rem;
        height: 8.41rem;
        background-image: url('../assets/images/code_side.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .subjects-wrapper {
      justify-items: center;

      .picture-wall {
        .content {
          margin-bottom: 20px;
        }

        .picture-item {
          margin-bottom: .4rem;
          min-height: 2.78rem;
          background-color: #d8d8d8;
          border-radius: 8px;
        }
      }
    }

    .schedule-wrapper {
      min-height: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title-wrapper {
        .title {
          margin-bottom: .23rem;
          font-size: .36rem;
        }

        p {
          font-size: .15rem;
        }
      }

    }

    .register-wrapper {

      .register-main {
        margin: .18rem 0;

        h5.text-title {
          margin: .32rem 0;
          font-size: .32rem;
          font-weight: 400;
        }

        p.register-guide-title {
          margin: .4rem 0 !important;
          color: #fff;
          font-size: .4rem;
          line-height: .4rem;
        }

        p {
          margin: .14rem 0 !important;
          font-size: .28rem;
          line-height: .48rem;
          letter-spacing: .032rem;
        }
      }
    }

    .guide-wrapper {
      .section-content {
        .text-content {
          text-align: center;
        }
      }
    }
  }

  .scroll-bar {
    position: fixed;
    right: 1.36rem;
    top: 2rem;
    width: 0.03rem;
    height: 4rem;
    background-color: #fff;
    border-radius: 0.045px;

    .scroll-slider {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 0.06rem;
      background-color: #fff;
    }
  }

  footer {
    padding: 1rem 0;

    .footer-logo-wrapper {
      .footer-logo {
        text-align: center;
      }
    }

    .footer-copyright-wrapper {
      text-align: center;
      font-size: 0.28rem;
      font-weight: 300;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .hack-2019-wrapper {

    .section-wrapper {
      position: relative;
      margin: 1rem 0;

      .section-content {
        display: flex;
        flex-direction: column;

        .text-content {
          color: rgba(255,255,255,1);
          font-weight: 200;
          font-size: .28rem;
          line-height: .48rem;
          letter-spacing: .032rem;
          text-align: justify;

          p {
            margin: .27rem 0;
            font-weight: 200;
          }
        }

        .photo-wall {
          margin-top: .2rem;

          .photo-item {
            margin-bottom: .3rem;
            height: 1rem;
            background-color: #d8d8d8;
            border-radius: 8px;
          }
        }
      }
    }

    .banner-wrapper {
      .container {
        position: relative;

        .banner-site-name {
          position: relative;
          font-size: .2rem;
          writing-mode: vertical-rl;
          letter-spacing: 0.05rem;
          transform: rotate(180deg);
          text-transform: uppercase;
          z-index: 10;
        }

        .banner-icon {
          position: absolute;
          top: -.3rem;
          left: .5rem;
          width: 5.231rem;
          height: 4.816rem;
          background-image: url('../assets/images/code.png');
          background-repeat: no-repeat;
          background-size: contain;
        }

        .banner {
          font-family: -apple-system-font, Montserrat, "Helvetica Neue", 'PingFang SC', "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
          z-index: 10;

          .banner_title {
            margin-top: .3rem;
            font-size: 1.1rem;
            font-weight: 400;
            line-height: .9rem;
            text-align: justify;
          }

          .banner_subtitle {
            font-size: .64rem;
            line-height: .56rem;
            letter-spacing: .02rem;
          }

          .banner_slogan {
            margin-top: .36rem;
            font-size: .72rem;
            line-height: .72rem;
            text-align: justify;
          }

          .banner_info {
            margin-top: .36rem;
            font-size: .32rem;
            line-height: .32rem;
            text-align: justify;
          }
        }
      }
    }

    .introduction-wrapper {
      .icon-side {
        position: absolute;
        top: .5rem;
        right: 0;
        width: 7.162rem;
        height: 8.41rem;
        background-image: url('../assets/images/code_side.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .subjects-wrapper {
      justify-items: center;

      .picture-wall {
        .content {
          margin-bottom: 20px;
        }

        .picture-item {
          margin-bottom: .4rem;
          min-height: 2.78rem;
          background-color: #d8d8d8;
          border-radius: 8px;
        }
      }
    }

    .schedule-wrapper {
      min-height: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title-wrapper {
        .title {
          margin-bottom: .23rem;
          font-size: .36rem;
        }

        p {
          font-size: .15rem;
        }
      }

    }

    .register-wrapper {

      .register-main {
        margin: .18rem 0;

        h5.text-title {
          margin: .32rem 0;
          font-size: .32rem;
          font-weight: 400;
        }

        p.register-guide-title {
          margin: .4rem 0 !important;
          color: #fff;
          font-size: .4rem;
          line-height: .4rem;
        }

        p {
          margin: .14rem 0 !important;
          font-size: .28rem;
          line-height: .48rem;
          letter-spacing: .032rem;
        }
      }
    }

    .guide-wrapper {
      .section-content {
        .text-content {
          text-align: center;
        }
      }
    }
  }

  .scroll-bar {
    display: none; // no display on portrait screen
    position: fixed;
    right: 1.36rem;
    top: 2rem;
    width: 0.03rem;
    height: 4rem;
    background-color: #fff;
    border-radius: 0.045px;

    .scroll-slider {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 0.06rem;
      background-color: #fff;
    }
  }

  footer {
    padding: 1rem 0;

    .footer-logo-wrapper {
      .footer-logo {
        text-align: center;
      }
    }

    .footer-copyright-wrapper {
      text-align: center;
      font-size: 0.28rem;
      font-weight: 300;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hack-2019-wrapper {

    .section-wrapper {
      position: relative;
      margin: 1rem 0;

      .section-content {
        display: flex;
        flex-direction: column;

        .text-content {
          color: rgba(255,255,255,1);
          font-weight: 200;
          font-size: .21rem;
          line-height: .42rem;
          letter-spacing: .04rem;
          text-align: justify;

          p {
            margin: .27rem 0;
            font-weight: 200;
          }
        }

        .photo-wall {
          margin-top: .2rem;

          .photo-item {
            margin-bottom: .3rem;
            height: 1rem;
            background-color: #d8d8d8;
            border-radius: 8px;
          }
        }
      }
    }

    .banner-wrapper {
      .container {
        position: relative;

        .banner-site-name {
          position: relative;
          font-size: .2rem;
          writing-mode: vertical-rl;
          letter-spacing: 0.05rem;
          transform: rotate(180deg);
          text-transform: uppercase;
          z-index: 10;
        }

        .banner-icon {
          position: absolute;
          top: -.3rem;
          left: .5rem;
          width: 5.231rem;
          height: 4.816rem;
          background-image: url('../assets/images/code.png');
          background-repeat: no-repeat;
          background-size: contain;
        }

        .banner {
          font-family: -apple-system-font, Montserrat, "Helvetica Neue", 'PingFang SC', "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
          z-index: 10;

          .banner_title {
            margin-top: .3rem;
            font-size: .81rem;
            font-weight: 400;
            line-height: 0.64rem;
            text-align: justify;
          }

          .banner_subtitle {
            font-size: .5rem;
            line-height: .45rem;
            letter-spacing: .02rem;
          }

          .banner_slogan {
            margin-top: .3rem;
            font-size: .72rem;
            line-height: .72rem;
            text-align: justify;
          }

          .banner_info {
            margin-top: .3rem;
            font-size: .21rem;
            line-height: .22rem;
            text-align: justify;
          }
        }
      }
    }

    .introduction-wrapper {
      .icon-side {
        position: absolute;
        top: .5rem;
        right: 0;
        width: 7.162rem;
        height: 8.41rem;
        background-image: url('../assets/images/code_side.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .subjects-wrapper {
      justify-items: center;

      .picture-wall {
        .content {
          margin-bottom: 20px;
        }

        .picture-item {
          margin-bottom: .4rem;
          min-height: 2.78rem;
          background-color: #d8d8d8;
          border-radius: 8px;
        }
      }
    }

    .schedule-wrapper {
      min-height: 4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title-wrapper {
        .title {
          margin-bottom: .23rem;
          font-size: .36rem;
        }

        p {
          font-size: .15rem;
        }
      }

    }

    .register-wrapper {

      .register-main {
        margin: .18rem 0;

        h5.text-title {
          margin: .14rem 0;
          font-size: .18rem;
          font-weight: 400;
        }

        p.register-guide-title {
          margin: 0 0 .32rem 0 !important;
          color: #fff;
          font-size: .32rem;
          line-height: .32rem;
        }

        p {
          margin: .14rem 0 !important;
          font-size: .14rem;
          line-height: .24rem;
          letter-spacing: 0.014rem;
        }
      }
    }

    .guide-wrapper {
      .section-content {
        .text-content {
          text-align: center;
        }
      }
    }
  }

  .scroll-bar {
    position: fixed;
    right: .6rem;
    top: 2rem;
    width: 0.03rem;
    height: 4rem;
    background-color: #fff;
    border-radius: 0.045px;

    .scroll-slider {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 100%;
      width: 0.06rem;
      background-color: #fff;
    }
  }

  footer {
    padding: 1rem 0 2rem 0;

    .footer-logo-wrapper {
      .footer-logo {
        text-align: center;
      }
    }

    .footer-copyright-wrapper {
      text-align: center;
      font-size: 0.21rem;
      font-weight: 300;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}


.path {
  //   stroke-dasharray: 50;
  //   stroke-dashoffset: 1000;
  //   animation: dash 10s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
