.index {

  .index-title {}

  .index-content {
    font-size: .9rem;
    line-height: 1.9rem;
    letter-spacing: .2rem;
  }

  .index-banner-site-name {
    font-size: 1rem;
    writing-mode: vertical-rl;
    letter-spacing: 2.5rem;
  }

  .index-banner {
    margin-top: 3.8rem;
    .banner__title {
      font-size: 5rem;
      line-height: 7rem;
      letter-spacing: .1rem;
    }

    .banner__subtitle {
      font-size: 2.5rem;
      line-height: 3.5rem;
      letter-spacing: .2rem;
    }

    .banner_slogan {
      font-size: 2.9rem;
      text-align: justify;
    }

    .banner_info {
      font-size: .8rem;
      text-align: justify;
    }
  }

  .index-introduction {}

  .index-vision {}

  .index-subjects {}

  .index-awards {}

  .index-schedule {}

  .index-guests {}
}
