/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Border
-------------------------- */
/* Background
-------------------------- */
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 315%; }

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */ }

body {
  background-color: #fff;
  color: #000;
  font-family: -apple-system-font, lucida, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 1s;
  transition: all 1s;
  font-weight: 200;
  font-size: .24rem;
  line-height: .48rem; }
  body.body-white {
    background-color: #fff; }
  body.body-home {
    background-color: #000; }
  body h1, body h2, body h3, body h4, body h5, body h6, body p {
    font-weight: normal;
    margin: 0; }
  body ul, body li {
    list-style: none;
    margin: 0; }

header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1rem;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: .8rem;
  z-index: 99; }
  header .container .row .col-xl-1 {
    max-height: .8rem; }
  header .icon-codewuxi {
    display: inline-block;
    width: 0.38rem;
    height: 0.38rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAmCAYAAACoPemuAAAGcUlEQVRYR+2Ya2wc1RXH/2dmHTeLd/bVJhWx41nHdh52mpAG4yhBip0AolQglS8g0QY1EpQKpLZIiVQaqVULEkg8JJAolYgSQGq/FKmoDTTkpZa0DhgwJM7TtXdrkyaB9a53ncX2eu6/GtuJd2a9s5sgpCBxv83cc+793fOac0dwjQ65Rrnw1QbL5QYX5cet3SBugqCrqlq/3++v+6QSa9u61ri1C5R2CI/o1fqWSnTLWqy7u7uqqSH6LoDVl0FE9gfD5uZKwEZTiX0kNxXI9tT0f9Yma9fmvfTLgo2k4r8C+VvnIjIajJiBcmCpVH99ldKOU+B3yAp2BMLm764aLJtNrFB59QGAasci5P5gtMHTYuRZf2Z4fJsA94jIUhfEOChrAtH646XgSlqMpJZNJQ4TbC9UFkFeibSHQqYNXHKMJAd+IyKdIP4ngh8A0EkWRIN01YTr14uImmuRkmCZVPwXJJ92K4kmTxgh8zFPqJHBRlGTx5SCJcDHAl5HciVmioAIYDPquvZoTdh8pmKwkQt9jfDpHwHO2BDIiUA4f4NI07gn2PDAXwDcacsIMEayl2QzyIK4FIggB8VVwQWNfUUGcL8gKdl04gDJjU4XigUdNxuG+W8vqHSy/xYR2euU4YQQu5RSW0nqhXO6JocC0SWdIjLr5+kDOUc2PfATpfCi+70m2nOBcP3PvaB48KAvu8rsIdDikhu8OJZcNr8q+DiV+pnjwBCIhodC32r+vfN9wVMu90ldfmziGADDtXC/Ea5eKXJ9ztuF8YcBPl90KB33BoKxP9mZmjqfOUqwodAmIpL5hk9v9UcbBy/pOiyWScf3UPF218LUNNkcCJkHygR8RJR1mmTU5cbDwUjDhkvv0udOdlqgXXQL9hZomrwZWbjse0Vgo6nEjyyq3XME4R+MSOxBLyh7biQVfx7kwy45RU1rC4Xq3y98nzzX+5JSfMAdSaLLlm8uXPHKTNIAFy4MfLvah14AEaefORQIB1tEohkvsGwy0aLE6gHE50qYnUbY3OrWTSbPGGpsrJdA7eyc2AE/zAm0LIi1npsyZyYV/zNJuwi6hnw/GDH/Vs5a2dTAXkXc4pLL6PP8zTU1C8/Ppf/p0NE7FPjXYg/J6wtqV94t2dTARkUcnAPqtWDE/GE5qEzmv3dy0rLrlmOIhu1GKPaUl/75wZ5XSdznrg26T++QTDqxjUo9WbSwr2qpYdSe9lqYPDYvk67pBdnowuozwvUtIjLhpf/pUE/zpFKnYFewKd/N5INg+xeyWCY9sI0KcxxKv8swFr9RztpnEx++Cqj7iq2tdVx1jI2Onl9oTeRsizpqniZ4OxCO3VoOaijefYdwJsZsiimr2QnA1683b7x7Cqx0VspQIByYMyszqfjLJH/sBOCkRn11IFpvZ3jJkUx2GZ+PaLZMLWf9aHMN54GWWKxtOivtcSV17GI68d1JpeyuVnPF1gvBiPlIWWv1v/uSonqgUM4GEdG31DbcOFvHLglUWvlHhvvfAWS9C2AYuq8pGKwb9gIb6jvcqaDtI1yVX/Bm3ZJ1xZXfXqySb2V2ZOAeZeGPxZvLI8GI+YIX1Nmz3f6Ji+NHATTMBNWUuP2t9M33tS5a1Db3t9IWKtVdiMgzo59/tuO6+dETIBa73NAb+Ci+Wjo6Jr3AEqffeVaBju7CltchDy1u3lC6u7CFSvZjwEmCBwD5qXtzarw1FGp42wsqfubwOirrn4rUp0vWdBsrmnbIbNpQvh+zdYo7WE4QskcT3E46LyYCvGFEYnd5QZ05s6dat/wfklw+XUunc04gOZ/P953FTev/49avrOcnjtuXBoKtDhcKxqn5WoPBuqLWuFCu78Shx0n1y+Is1B5dsnxj5T3/jEu1TCr+LxCrIPgHMPWRdhxEgKeMSGy7p7WO718Dootg1bT6dActonU1Lu+48lvSVCIkEysUrF0QsZu/BueJ5Vye+aXRaJNnS3Tq2N59ADY5O1aMC2VNU+vmK79XXoKY6T7s1sdxmxaRrUbY3OllLXvu5NG/Z0HUOGwt2LGs9barv4lfztLh+D4KOi9DCN4zQrvbRX4952W1EPbkx2/N/rsQQCg9o/lE29q1D36xfxf2JrnkUK2l5Xcqch2oHamC735/tHaonLXs+VM9+xdZMrELQLsGHBHO27J09aayf4rK/lSpZPMvQ+ZrsCu16jVrsf8DP9THElhk5QAAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-size: contain; }

footer {
  padding: .5rem 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  footer .footer-black {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000; }
  footer .contact-wrapper, footer .container {
    z-index: 1; }
  footer .footer-logo-wrapper .footer-logo {
    text-align: center; }
  footer .footer-copyright-wrapper {
    text-align: center;
    font-size: 0.28rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.72); }
    footer .footer-copyright-wrapper a {
      color: rgba(255, 255, 255, 0.72);
      text-decoration: none; }
    footer .footer-copyright-wrapper a:hover {
      color: #fff;
      text-decoration: none; }

.cw-title {
  position: relative;
  margin-top: .2rem;
  margin-bottom: .1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: .48rem;
  line-height: .67rem;
  letter-spacing: .09rem; }
  .cw-title.cw-line-title {
    margin-top: 4rem; }
  .cw-title .line {
    z-index: 1;
    width: 2px;
    height: 2rem;
    background-color: #000; }
    .cw-title .line.line-top {
      position: absolute;
      top: -2.5rem;
      left: 50%;
      margin-bottom: .2rem; }
    .cw-title .line.line-bottom {
      margin-top: .2rem; }

.cw-sm-title {
  margin-top: 0.32rem;
  position: relative;
  color: #000;
  text-align: center;
  font-size: .32rem;
  line-height: .64rem; }

.cw-text-justify {
  text-align: justify;
  text-align-last: justify; }

.cw-text-center {
  text-align: center !important; }

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .button-group .cw-button:first-child {
    margin-right: .8rem; }

.cw-button {
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: .24rem;
  letter-spacing: .03rem;
  font-weight: 200;
  border: 1px solid #0F0F0F;
  background-color: #ffffff;
  outline: none;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .cw-button:hover {
    color: #ffffff;
    background-color: #0F0F0F; }

.cw-dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99; }
  .cw-dialog .dialog-content {
    padding: .2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 60%;
    height: 4rem;
    background-color: #fff;
    z-index: 999; }
    .cw-dialog .dialog-content .icon-close {
      position: absolute;
      bottom: 0.2rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      font-size: .5rem;
      cursor: pointer; }
      .cw-dialog .dialog-content .icon-close:hover {
        color: #ff4d4f; }
    .cw-dialog .dialog-content h3 {
      font-size: .24rem;
      text-align: center; }

@media (max-width: 575.98px) {
  .cw-title {
    margin-top: .3rem;
    margin-bottom: 0rem;
    font-size: .56rem;
    line-height: .75rem; }
  .cw-sm-title {
    font-size: .42rem;
    font-weight: 600;
    line-height: .72rem; }
  .cw-dialog .dialog-content {
    width: 100%;
    height: 70vh;
    top: auto;
    left: 0;
    bottom: 0;
    -webkit-transform: none;
            transform: none; }
    .cw-dialog .dialog-content .icon-close {
      font-size: 32px; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  footer {
    padding: 1rem 0; }
    footer .footer-copyright-wrapper {
      font-size: 0.28rem;
      font-weight: 300; }
  .cw-title {
    margin-bottom: .4rem;
    font-size: .72rem;
    line-height: .75rem;
    letter-spacing: .09rem; }
  .cw-sm-title {
    font-size: .42rem;
    font-weight: 600;
    line-height: .72rem; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  header {
    height: .8rem; }
    header .container .row .col-xl-1 {
      max-height: .8rem; }
  footer {
    padding: 1rem 0; }
    footer .footer-copyright-wrapper {
      font-size: 0.28rem; }
  .cw-title {
    margin-top: .5rem;
    font-size: .72rem;
    line-height: .75rem;
    letter-spacing: .09rem; }
    .cw-title:after {
      content: '';
      position: absolute;
      top: -.08rem;
      left: -.2rem;
      width: .17rem;
      height: .17rem;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAA6RwvCAAACIUlEQVRYR+2XO4jVUBCGv1/BTvGFKPgolG0sfCBiI26jIIpoI1gKriIWgo1WirqF21itheKj0C2sLQQVtLTYXgu1cMFGfFvZ/DJwLlxikpt4T3YXdOAQkhNmvjMzmZmIeSLqksP2fuBmsnFK0uMqe12DvAfWJeMzktb/8yARmnvJC8fnLDQBYPtSXCVdrsvHTnPkP0iZ62clNLYlyXWxny2Qq8A54FPf+ly4HwW+AzfS8y3A9WKRGypZbT8DJoFpYEXF2gMsAT6m/U3AgmKR+2sQ2wuBOP0GSV+rwlMMje3SajsMyFZgStLmNjlS1X+GATkNbJc01gakttfYXgRcAU6mF28BFyX9qnH5feC5pLs5Qa4B5wsKJyRdqAF5AxyU9DonSCTdsoLCL5KWVxSpVcArYGXWOmK7DOSbpKUVIIeBMUkHBg1WrQqa7bLQ/ATis3zRW5LepkY2AfyQNJ4bpDRZ03QVlbG3wm6A7QDGJU1lBRmkrLdveyOwL1XTD+n5Hx7r19cqNE1BUlh2xkAsaVsCK/NYD26kswnN9llgRNKZ4gFKwNYA0QpC8g7Pth8CjyQ9GORJ2zPA2q5AommNSnrXAKSb/xrbcbppSasHQbTdb9X0bB8Fjkk60tbQoPcbgdiOP7Q7wG4gesshSRGibNIU5Amwt8/qU0lRT7JJU5CYORf3WY3yHuNfNmkKMm88EjlyG9gFvAROzEmOZPN/jaLfn8oUMtn2t30AAAAASUVORK5CYII=);
      background-repeat: no-repeat;
      background-size: contain; }
  .cw-sm-title {
    font-size: .42rem;
    font-weight: 600;
    line-height: .72rem; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 625%; }
  footer .footer-copyright-wrapper {
    text-align: center;
    font-size: 0.21rem;
    font-weight: 300; }
  .cw-title {
    margin-bottom: .2rem;
    font-size: .54rem;
    line-height: .67rem;
    letter-spacing: .09rem; }
    .cw-title:after {
      content: '';
      position: absolute;
      top: -.08rem;
      left: -.2rem;
      width: .17rem;
      height: .17rem;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAA6RwvCAAACIUlEQVRYR+2XO4jVUBCGv1/BTvGFKPgolG0sfCBiI26jIIpoI1gKriIWgo1WirqF21itheKj0C2sLQQVtLTYXgu1cMFGfFvZ/DJwLlxikpt4T3YXdOAQkhNmvjMzmZmIeSLqksP2fuBmsnFK0uMqe12DvAfWJeMzktb/8yARmnvJC8fnLDQBYPtSXCVdrsvHTnPkP0iZ62clNLYlyXWxny2Qq8A54FPf+ly4HwW+AzfS8y3A9WKRGypZbT8DJoFpYEXF2gMsAT6m/U3AgmKR+2sQ2wuBOP0GSV+rwlMMje3SajsMyFZgStLmNjlS1X+GATkNbJc01gakttfYXgRcAU6mF28BFyX9qnH5feC5pLs5Qa4B5wsKJyRdqAF5AxyU9DonSCTdsoLCL5KWVxSpVcArYGXWOmK7DOSbpKUVIIeBMUkHBg1WrQqa7bLQ/ATis3zRW5LepkY2AfyQNJ4bpDRZ03QVlbG3wm6A7QDGJU1lBRmkrLdveyOwL1XTD+n5Hx7r19cqNE1BUlh2xkAsaVsCK/NYD26kswnN9llgRNKZ4gFKwNYA0QpC8g7Pth8CjyQ9GORJ2zPA2q5AommNSnrXAKSb/xrbcbppSasHQbTdb9X0bB8Fjkk60tbQoPcbgdiOP7Q7wG4gesshSRGibNIU5Amwt8/qU0lRT7JJU5CYORf3WY3yHuNfNmkKMm88EjlyG9gFvAROzEmOZPN/jaLfn8oUMtn2t30AAAAASUVORK5CYII=);
      background-repeat: no-repeat;
      background-size: contain; } }

@media (min-width: 1200px) {
  html {
    font-size: 625%; } }

.index-wrapper .section-content .text-content p {
  margin: .27rem 0;
  font-weight: 200;
  text-align: justify; }

.index-wrapper .section-content .photo-wall {
  margin: .18rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .index-wrapper .section-content .photo-wall .photo-item {
    padding: 0 .2rem;
    width: 25%; }
    .index-wrapper .section-content .photo-wall .photo-item .photo-cover img {
      width: 100%; }
    .index-wrapper .section-content .photo-wall .photo-item .photo-user {
      margin: .2rem 0;
      text-align: center; }
      .index-wrapper .section-content .photo-wall .photo-item .photo-user h5 {
        font-size: .24rem; }
      .index-wrapper .section-content .photo-wall .photo-item .photo-user p {
        font-size: .21rem;
        font-weight: 200; }

.index-wrapper .banner-wrapper .swiper-container {
  width: 100vw; }
  .index-wrapper .banner-wrapper .swiper-container .swiper-slide {
    position: relative;
    overflow: hidden;
    padding-top: 6.4rem;
    background-image: url("https://static-img.codewuxi.com/index/banner/hackathon-2019-bg.png");
    background-repeat: no-repeat;
    background-size: cover; }
    .index-wrapper .banner-wrapper .swiper-container .swiper-slide .swiper-text {
      position: absolute;
      top: 50%;
      left: -8rem;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      color: #fff;
      font-family: -apple-system-font, Montserrat, "Helvetica Neue", 'PingFang SC', "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
      z-index: 10; }
      .index-wrapper .banner-wrapper .swiper-container .swiper-slide .swiper-text.text-active {
        -webkit-animation: .5s .5s moveIn forwards;
                animation: .5s .5s moveIn forwards; }
      .index-wrapper .banner-wrapper .swiper-container .swiper-slide .swiper-text .banner_title {
        margin-top: .3rem;
        font-size: .9rem;
        font-weight: 600;
        line-height: 0.72rem;
        text-align: justify; }
      .index-wrapper .banner-wrapper .swiper-container .swiper-slide .swiper-text .banner_subtitle {
        font-size: .52rem;
        line-height: .42rem;
        letter-spacing: .02rem; }
      .index-wrapper .banner-wrapper .swiper-container .swiper-slide .swiper-text .banner_slogan {
        margin-top: .3rem;
        font-size: .75rem;
        font-weight: 600;
        line-height: .72rem;
        text-align: justify; }
      .index-wrapper .banner-wrapper .swiper-container .swiper-slide .swiper-text .banner_info {
        margin-top: .3rem;
        font-size: .24rem;
        line-height: .24rem;
        text-align: justify; }

@-webkit-keyframes moveIn {
  0% {
    left: -8rem; }
  100% {
    left: 4.5rem; } }

@keyframes moveIn {
  0% {
    left: -8rem; }
  100% {
    left: 4.5rem; } }
    .index-wrapper .banner-wrapper .swiper-container .swiper-slide img {
      width: 100%;
      height: 100%; }
  .index-wrapper .banner-wrapper .swiper-container .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .index-wrapper .banner-wrapper .swiper-container .swiper-pagination .swiper-pagination-item {
      position: relative;
      margin-right: .1rem;
      width: .4rem;
      height: .04rem;
      border-radius: 0;
      background-color: rgba(255, 255, 255, 0.3); }
      .index-wrapper .banner-wrapper .swiper-container .swiper-pagination .swiper-pagination-item:last-child {
        margin-right: 0; }
      .index-wrapper .banner-wrapper .swiper-container .swiper-pagination .swiper-pagination-item .swiper-pagintaion-progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #fff; }
        .index-wrapper .banner-wrapper .swiper-container .swiper-pagination .swiper-pagination-item .swiper-pagintaion-progress.progress-active {
          -webkit-animation: 3s progress linear;
                  animation: 3s progress linear;
          -webkit-transition: all 50ms linear;
          transition: all 50ms linear; }

@-webkit-keyframes progress {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

@keyframes progress {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

